# Build output
Debug/
Release/
build/
*.elf
*.bin
*.hex
*.map
*.lst

# Object & dependency files
*.o
*.d
*.a
*.su

# STM32CubeIDE
.settings/
.metadata/
RemoteSystemsTempFiles/
Backup/

# OS
.DS_Store
